* {
	font-family: 'Merriweather', serif;
}

div {
	border: 1px lightgray solid;
}

h1,
h2,
h3 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}

h4,
h5,
h6 {
	font-family: 'Merriweather', serif;
	font-weight: 300;
}

h1 {
	color: darkkhaki;
}

h2 {
	color: peachpuff;
}

h3 {
	color: peru;
}

h4 {
	color: purple;
}

h5 {
	color: green;
	font-size: 1.5rem;
}

h6 {
	color: darkseagreen;
	font-size: 1.25rem;
	border: 2px solid red;
}

p {
	color: blue;
	font-size: 1rem;
	margin: 0;
	padding: 0;
	line-height: 2rem;
}

a {
	padding: 10px 50px;
	border: 30px;
	margin: 30px;
	color: red;
}

.icon-space {
	margin: 1rem 1rem;
}

.Left {
	width: 400px;
	height: 19px;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.18px;
	color: #514a4a;
}

.imgRounded {
	margin-top: 25px;
	border-radius: 100%;
	background-image: url('../Images/andrey-zvyagintsev-9faXT5hxD5I-unsplash.jpg');
	width: 100px;
	height: 100px;
	background-color: azure;
	background-position: center;
	background-size: cover;
	border: 0;
}

header {
	background-color: antiquewhite;
}

.col {
	float: left;
	padding: 15px;
	border: 1px solid green;
}

.col-1 {
	width: 8.33%;
}
/* .col-2 {
	width: 16.66%;
} */
.col-2 {
	width: 14%;
}
.col-3 {
	width: 25%;
}
/* .col-4 {
	width: 3.33%;
} */
.col-4 {
	width: 30%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}
